.ImagenPokemon {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.titulo {
    color: #B71C1C !important;
    font-weight: bold !important;
    font-size: 30px !important;
    text-align: center !important;
}

.guardar {
    background-color: rgb(132, 219, 2) !important;
    color: white !important;
    font-weight: bold !important;
    border-width: 75% !important;
    padding: 10px !important;
    text-align: center !important;
    width: 200px !important;
    height: 45px !important;
}

.canc {
    background-color: #D32F2F !important;
    color: white !important;
    font-weight: bold !important;
    border-width: 75% !important;
    padding: 10px !important;
    text-align: center !important;
    width: 200px !important;
    height: 45px !important;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}