.pokedex-navbar {
    margin-bottom: 25px;
}

.pokedex-navbar .MuiAppBar-root {
    background-color: #D32F2F;
    box-shadow: 0 4px 8px black !important;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
}

.Header .MuiButton-root,
.Header .MuiTypography-root {
  font-family: "Momo Trust Display", sans-serif !important;
}