.Carta {
    border: solid 3px #B71C1C;
    padding: 5px;
    background-color: white;
}

.titulo {
    color: #B71C1C;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.cuerpo {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.modelo-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Boton {
    border: solid 3px #B71C1C;
    background-color: #D32F2F;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-width: 75%;
    padding: 10px;
    text-align: center;
}