.pokeball {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    #e53935 0%,
    #e53935 50%,
    #ffffff 50%,
    #ffffff 100%
  );
  border: 5px solid #000;
  position: relative;
  animation: spin 1.2s linear infinite;
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.35),
    inset -4px -6px 8px rgba(0, 0, 0, 0.25),
    inset 4px 4px 6px rgba(255, 255, 255, 0.6);
}

.pokeball::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #000;
  transform: translateY(-50%);
}

.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    inset -2px -2px 4px rgba(0, 0, 0, 0.3),
    inset 2px 2px 3px rgba(255, 255, 255, 0.6);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
